!!!5
html
  head
    title #{title} - postAr
    link(rel='stylesheet', href='/static/css/bootstrap.min.css')
  body
    div(class='container')
      div(class='row')
        header
          h1 postAr
        .container
          .main-content
            block content
        footer
          p Running on node with Express & Jade